@tailwind base;
@tailwind components;
@tailwind utilities;

body {

    background-color: #171717;
}

@font-face {
    font-family: "floral";
    src: url(/floral.otf);
}

@font-face {
    font-family: "classy";
    src: url(/classy.otf);
}

.floral {

    font-family: "floral";
}

.classy {

    font-family: "classy";
}


.instaCard {

    background: #FFF;
    border: 0;
    margin: 0;
    min-width: 540px;
    width: 100%;
}

.activeTrailing {
    cursor: none;
    width: 200px;
    height: 360px;
    outline: #FFF 1px solid;
    border-radius: 10px;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: none;
    position: absolute;
    pointer-events: none;
    /* Don't block interactions */
    transform: translate(-50%, -50%);
    /* Center cursor on mouse */
    transform-origin: center center;
}