@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;

}

body {

    overflow-x: hidden;
    color: light-dark(#1d1d1d, #FBF0DA);
    background-color: light-dark(#FBF0DA, #1d1d1d);
}

@font-face {
    font-family: "floral";
    src: url(/floral.otf);
}

@font-face {
    font-family: "classy";
    src: url(/classy.otf);
}

.floral {
    font-family: "floral";
}

.classy {
    font-family: "classy";
}

.hero-h1 , .hero-p{

    color:  #FBF0DA;
}

.hero-img {

        will-change: transform;
 
    background-size: cover;
    background-position: center;
    background-image: url(/public/main_imgs/unnamed2.jpg);
}

.bg-shadow {


    text-shadow: rgba(0, 0, 0, 0.269) 0px 1px 2px, rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.265) 0px 16px 32px, rgba(0, 0, 0, 0.256) 0px 32px 64px;
}

.displayCard {
    will-change: transform;
    user-select: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.055) 0px 19px 38px, rgba(0, 0, 0, 0.073) 0px 15px 12px;
    border-radius: 6px;
    color: light-dark( #FBF0DA,#1d1d1d) ;
    background-color: light-dark(#c9c2ae, #ffffff) ;
}

img {

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    will-change: transform;

    transition: all 0.5s ease-in-out;

}

.hoveredCard {
    transition: all .3s ease;
}