@tailwind base;
@tailwind components;
@tailwind utilities;

body{

    background-color: #171717;
}

@font-face {
    font-family: "floral";
    src: url(/floral.otf);
}

@font-face {
    font-family: "classy";
    src: url(/classy.otf);
}

.floral{
    
    font-family: "floral";
}
.classy{
    
    font-family: "classy";
}


.instaCard{

    width: 100%;

height: auto;
    background-color: #6f6f6f6e;
}